.form-container {
    margin-bottom: 20px;
}

.form-container > form {
    margin: auto;
    width: fit-content;
}

.form-name {
    margin: 5px 0 20px 0;
    text-align: center;
}

.form-text {
    margin: 12px 0;
    text-align: center;
}

.form-submit {
    display: block;
    margin: 20px auto;
    height: 34px;
    padding: 0 10px;
    border-radius: 10px;
}

a.login.auth-btn {
    color: lightblue;
}

a.login, h1.login {
    color: blue;
}

a.signup.auth-btn {
    color: orange;
    font-weight: 400;
}

a.signup, h1.signup {
    color: #f29327;
    font-weight: 500;
}

.field {
    display: block;
    height: 25px;
    width: 310px;
    border: 1px solid gray;
    border-radius: 6px;
    padding-left: 6px;
}

label {
    display: block;
    margin-bottom: 10px;
}

label.password {
    position: relative;
}

.password-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2px;
    bottom: 4.5px;
    background-color: #00000000;
    border: none;
    height: 16px;
    border-radius: 80%;
    cursor: pointer;
}

.password-icon > img {
    object-fit: contain;
    height: 30px;
    user-select: none;
    overflow: hidden;
}

.hide::after {
    position: absolute;
    content: "";
    background-color: #555;
    height: 22px;
    width: 2px;
    rotate: 45deg;
}

.errors {
    margin: 0;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin: 0;
}