

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ddd;
    min-height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #000;
    width: 100%;
}

.page-heading {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    background-color: #aaaaaa;
    padding: 8px 0;
}

.top-nav {
    height: 60px;
    display: flex;
    color: white;
}

.content, .top-nav, .bottom-nav {
    padding: 0 min(2em, 8%);
}

.top-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    font-size: 24px;
    position: relative;
    padding: 0 8px;
}

.top-nav-link:hover {
    background-color: #444;
}

.top-nav-link:first-child {
    margin-left: 0;
}

.top-nav-link:first-child::after {
    display: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.button:disabled {
    cursor: default;
}

.hidden {
    opacity: 0;
}

.nav-container {
    display: flex;
    column-gap: 10px;
    margin: auto 0;
    margin-left: auto;
}

.show-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #333;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: 1px solid #555;
    cursor: pointer;
    overflow: hidden;
}

.profile-pic {
    height: 30px;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.user-menu {
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    z-index: 2;
}

.user-menu-element {
    width: inherit;
    height: 30px;
    color: white;
    font-size: 15px;
    border-bottom: 1px solid #777;
    text-align: left;
    background-color: #444;
    padding: 4px 0;
    padding-left: 8px;
}

.user-menu-element:hover {
    background-color: #555;
}

main {
    width: 100%;
}

.message {
    font-weight: 400;
}