

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #000;
    width: 100%;
}

.top-nav {
    height: 60px;
    display: flex;
    color: white;
    width: 90%;
    margin: auto;
}

.top-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    font-size: 24px;
    position: relative;
    padding: 0 8px;
}

.top-nav-link:hover {
    background-color: #444;
}

.top-nav-link:first-child {
    margin-left: 0;
}

.top-nav-link:first-child::after {
    display: none;
}

.top-nav-link::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto 0;
    width: 1px;
    height: 90%;
    background: linear-gradient(#e66465, #9198e5);
}

nav > a {
    text-decoration: none;
    color: inherit;
}

main {
    background-color: #ddd;
    width: 100%;
}

.content {
    width: 90%;
    margin: auto;
    border: 2px solid turquoise;
}
