body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ddd;
    min-height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    height: 60px;
    background-color: #000;
    width: 100%;
    z-index: 48;
}

footer {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    height: 140px;
}

.header-title {
    margin: 0;
    padding: 20px 0;
}

.page-heading {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    background-color: #aaaaaa;
    padding: 8px 0;
}

.content, .top-nav, .bottom-nav {
    padding: 0 min(2em, 8%);
}

.link {
    text-decoration: none;
    color: inherit;
}

.button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.button:disabled {
    cursor: default;
}

.hidden {
    opacity: 0;
}

main {
    padding-top: 60px; /* 60px navbar */
    min-height: calc(100vh - 140px); /* 140px footer */
    width: 100%;
}

.message {
    font-weight: 400;
}

.home-text {
    width: fit-content;
    background-color: #cccccc;
    color: black;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 20px auto;
    font-size: 20px;
}

.home-text > p {
    margin: 4px 0;
}