.manga-results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px 6px;
}

.manga {
    width: 200px;
    height: max-content;
    position: relative;
}

.manga-img {
    width: inherit;
    margin: 0 auto;
    height: 315px;
    object-fit: cover;
    aspect-ratio: 40/63;
    border-radius: 12px;
}

.title {
    display: block;
    margin: 0;
    text-align: center;
    overflow-wrap: break-word;
    height: max-content;
}

.heart {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 50%;
    transition: opacity 0.3s ease;
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    padding: 5px;
    background-color: #555555DD;
}