.manga-results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.manga {
    width: 230px;
    margin-bottom: 12px;
    height: max-content;
    position: relative;
}

.manga-img {
    width: inherit;
    height: 350px;
    object-fit: fill;
    aspect-ratio: 40/63;
    border-radius: 12px;
}

.title {
    display: block;
    margin: 0;
    text-align: center;
    overflow-wrap: break-word;
    height: max-content;
}

.heart {
    position: absolute;
    right: 10px;
    border-radius: 50%;
    transition: opacity 0.3s ease;
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    padding: 5px;
    background-color: #555555DD;
}

.info {
    margin: 0;
    color: white;
}

.hidden {
    opacity: 0;
}