.manga-results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.manga {
    width: 230px;
    margin-bottom: 12px;
    height: max-content;
    position: relative;
}

.manga-img {
    width: inherit;
    height: 350px;
    object-fit: fill;
    aspect-ratio: 40/63;
    border-radius: 12px;
}

.title {
    display: block;
    margin: 0;
    text-align: center;
    overflow-wrap: break-word;
    height: max-content;
}

.manga-info {
    position: absolute;
    inset: 0;
    height: 350px;
    width: calc(14000px/63);
    border-radius: 12px;
    transition: opacity 0.3s ease;
    padding: 5px;
}

.info {
    margin: 0;
    color: white;
}

.hidden {
    opacity: 0;
}