/* Top navbar styling */
.nav-container {
    display: flex;
    column-gap: 10px;
    margin: auto 0;
    margin-left: auto;
}

.top-nav {
    height: 60px;
    display: flex;
    color: white;
}

.top-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    font-size: 24px;
    position: relative;
    padding: 0 8px;
}

.top-nav-link:hover {
    background-color: #444;
}

.top-nav-link:first-child {
    margin-left: 0;
}

.auth-btn {
    background-color: #333;
    padding: 8px 12px;
    border-radius: 10px;
}

.auth-btn:hover {
    background-color: #282828;
}

.show-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #333;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: 1px solid #555;
    cursor: pointer;
    overflow: hidden;
}

.profile-pic {
    height: 30px;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.user-menu {
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    z-index: 2;
}

.user-menu-element {
    width: inherit;
    height: 30px;
    color: white;
    font-size: 15px;
    border-bottom: 1px solid #777;
    text-align: left;
    background-color: #444;
    padding: 4px 0;
    padding-left: 8px;
}

.user-menu-element:hover {
    background-color: #555;
}

/* Bottom navbar styling */
.bottom-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    row-gap: 10px;
    padding: 20px 0;
}

.bottom-nav-link {
    text-align: center;
}

.bottom-nav-link:hover {
    text-decoration: underline;
}

.nav-btn {
    height: fit-content;
    font-size: inherit;
    border: none;
    background-color: inherit;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    background-color: #000000AA;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.message-title {
    margin: 0;
    text-align: center;
}

.message-container {
    margin: auto;
    background-color: lightblue;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    padding: 20px;
}

.not-found > .message {
    text-align: center;
    margin-top: 0;
    font-size: 40px;
}

.not-found > h1 {
    text-align: center;
    font-size: 200px;
    margin: 0;
}