.form-container {
    margin-bottom: 20px;
}

.form-container > form {
    margin: auto;
    width: fit-content;
}

.form-name {
    margin: 5px 0 20px 0;
    text-align: center;
}

.form-text {
    margin: 12px 0;
    text-align: center;
}

.form-submit {
    display: block;
    margin: 20px auto;
    height: 30px;
}

.form-span > a {
    text-decoration: none;
}

a.login, h1.login {
    color: blue;
}

a.signup, h1.signup {
    color: orange;
}

.field {
    display: block;
    height: 25px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
}

label.password {
    position: relative;
}

.password-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    background-color: #00000000;
    border: none;
    height: 25px;
}

.password-icon > img {
    object-fit: contain;
    height: 30px;
}

.hide::after {
    position: absolute;
    content: "";
    background-color: #555;
    height: 22px;
    width: 2px;
    rotate: 45deg;
}

.errors {
    margin: 0;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin: 0;
}